* {
  box-sizing: border-box;
  font-family: latin, sans-serif;
  src: url(./assets/fonts/inter-v18-latin-700.woff2);
}

body {
  margin: 0;
  display: flex;
}

.legal-links a {
  text-decoration: none;
  color: rgb(168, 168, 168);
}

.nav-bar a {
  text-decoration: none;
  color: rgba(205, 205, 205, 1);
}

.nav-link:hover {
  background-color: rgba(87, 126, 255, 0.1);
}

.active {
  background-color: rgba(4, 6, 44, 0.5) !important;
  color: white !important;
}

.active img {
  filter: brightness(1.5) contrast(1.2);
}

.legal-links a:hover {
  color: rgb(41, 171, 226);
  transform: scale(1.1);
}
