.help-section {
    width: 100%;
    padding: 50px;
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    color: #333;
    text-align: left;
    margin-left: 0; 
	max-height: calc(100vh - 96px);
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px; 
}

.section-heading h1 {
    font-size: 61px;
    font-weight: bold;
    color: #000;
    display: flex;
}

.back-arrow-container {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-arrow {
    width: 21px;
    height: 20px;
    background-image: url(/assets/img/back_arrow.svg);
    background-size: cover;
    background-position: center;
}

.back-arrow-container:hover {
    background-color: #e0e0e0; 
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-top: 30px; 
    text-align: left;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    margin-top: 15px;
    text-align: left;
}

.accentuated {
    color: #3AABE2;
    text-decoration: none;
    font-weight: bold;
}

.accentuated:hover {
    text-decoration: underline;
}

p {
    margin-bottom: 15px;
    width: 100%;
    text-align: left;
}

table.how-to-join {
    width: 100%;
    height: fit-content;
    border-collapse: separate; 
}

table.how-to-join tr {
    padding: 16px 0;
}

table.how-to-join td {
    vertical-align: top;
}

table.how-to-join td.step-nmbr {
    width: 40px;
    text-align: right;
    padding-right: 10px;
}

table.how-to-join td.step-content {
    text-align: left;
}

table.how-to-join td:first-child {
    padding-top: 15px;
}

.step-nmbr {
    font-size: 23px;
    font-weight: 700;
    padding-right: 35px;
}

.step-content {
    margin-bottom: 15px;
}

ul {
    padding-left: 24px;
    margin-bottom: 15px;
    text-align: left;
}

ul li {
    margin-bottom: 8px;
}

.mar-top {
    margin-top: 40px;
}

.mar-bot {
    margin-bottom: 40px;
}
