@media (min-width: 320px) {
    html, body {
        overflow-x: hidden; 
        overflow-y: auto; 
        margin: 0;
        padding: 0;
    }

    .subtask-edit-point-section {
        width: 100%;
    }

    .add-task-section {
        padding-top: 20px;
        padding-left: 0px;
        align-items: center;
    }

    .add-task-headline {
        width: 300px;
        display: flex;
        align-items: flex-start;
    }

    .task-detail-section {
        flex-direction: column;
        width: auto;
        align-items: center;
        min-height: 700px;
    }

    .input-order {
        width: 300px;
    }

    .input-order input {
        height: 35px;
    }

    .description-input {
        height: 75px;
    }

    .assigned-to-section {
        width: 300px;
    }

    .choosen-names {
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .drop-down-section {
        width: 300px;
        max-height: 105px;
    }

    .checked-assigned-to {
        height: 35px;
        width: 300px;
    }

    .assigned-to-name {
        height: 35px;
        width: 300px;
    }

    .name-circle {
        width: 30px;
        height: 30px;
        border: 2px solid white;
    }

    .name-circle span {
        font-size: 12px;
    }

    .task-seperator {
        display: none;
    }

    .prio-levels {
        width: 300px;
    }

    .prio-urgent {
        height: 35px;
    }

    .prio-urgent-chosen {
        height: 35px;
    }

    .prio-medium {
        height: 35px;
    }

    .prio-medium-chosen {
        height: 35px;
    }

    .prio-low {
        height: 35px;
    }

    .prio-low-chosen {
        height: 35px;
    }

    .category-section {
        width: 300px;
        height: 35px;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 18px;
    }

    .category-drop-down-section {
        width: 300px;
        height: 70px;
    }

    .category-name {
        height: 35px;
        width: 300px;
    }

    .subtask-section {
        width: 300px;
    }

    .created-subtask {
        width: 300px;
        height: 52px;
    }

    .fieldRequiredSection {
        margin-top: 10px;
    }

    .field-required-clear-create-button-section {
        width: 100%;
        margin-top: 25px;
        margin-left: 0px;
        padding-bottom: 50px;
        position: relative;
        height: 50px;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        background-color: #F6F7F8;
    }

    .new-section {
        background-color: #F6F7F8;
        height: calc(100vh - 130px);
        position: relative;
    }
}

@media (min-width: 600px) {

    .add-task-headline {
        width: 500px;
        display: flex;
        align-items: flex-start;
    }

    .input-order {
        width: 500px;
    }

    .assigned-to-section {
        width: 500px;
    }

    .drop-down-section {
        width: 500px;
    }

    .checked-assigned-to {
        width: 500px;
    }

    .assigned-to-name {
        width: 500px;
    }

    .choosen-names {
        width: 500px;

    }

    .task-details-right {
        gap: 20px;
        margin-top: 10px;
    }

    .task-details-left {
        gap: 20px;
        margin-top: 10px;
    }

    .prio-levels {
        width: 500px;
        display: flex;
        justify-content: space-evenly;
    }

    .category-section {
        width: 500px;
    }

    .category-drop-down-section {
        width: 500px;
        height: 70px;
    }

    .subtask-section {
        width: 500px;
    }

    .created-subtask {
        width: 500px;
    }

    .add-task-button {
        gap: 40px;
        padding-bottom: 0px;
    }
}

@media  (min-width: 1200px) {
    .add-task-section {
        padding-top: 25px;
        padding-left: 75px;
        align-items: flex-start;
    }

    .task-detail-section {
        width: 863px;
        height: 550px;
        min-height: unset;
        flex-direction: row;
        overflow: hidden;
        align-items: flex-start;
        padding-top: 25px;
        gap: 50px;
    }

    .task-seperator {
        display: flex;
    }

    .task-details-left {
        gap: 50px;
        margin-top: 0px;
    }

    .input-order {
        width: 340px;
    }

    .input-order input {
        height: auto;
    }

    .description-input {
        height: 120px;
    }

    .assigned-to-section {
        width: 340px;
    }

    .choosen-names {
        width: 340px;
    }

    .name-circle {
        width: 42px;
        height: 42px;
        border: 3px solid white;
    }

    .name-circle span {
        font-size: 16px;
    }

    .drop-down-section {
        width: 340px;
    }

    .checked-assigned-to {
        height: 55px;
        width: 332px;
    }

    .assigned-to-name {
        height: 55px;
        width: 332px;
    }

    .task-details-right {
        gap: 40px;
        margin-top: 0;
    }

    .prio-levels {
        width: 340px;
    }

    .prio-urgent {
        height: 40px;
    }

    .prio-urgent-chosen {
        height: 40px;
    }

    .prio-medium {
        height: 40px;
    }

    .prio-medium-chosen {
        height: 40px;
    }

    .prio-low {
        height: 40px;
    }

    .prio-low-chosen {
        height: 40px;
    }

    .category-section {
        width: 340px;
        height: 48px;
    }

    .category-drop-down-section {
        width: 340px;
        height: 90px;
    }

    .category-name {
        height: 45px;
        width: 340px;
    }

    .subtask-section {
        width: 340px;
    }

    .created-subtask {
        width: 340px;
        height: 80px;
    }

    .fieldRequiredSection {
        display: flex;
        margin-top: 0;
    }

    .add-task-button {
        gap: 10px;
        padding-bottom: 0px;
    }

    .field-required-clear-create-button-section {
        width: 934px;
        position: unset;
        justify-content: space-between;
        flex-direction: row;
        padding-left: 75px;
        padding-bottom: 50px;
    }

    .new-section {
        background-color: #F6F7F8;
        height: calc(100vh - 96px);
        position: relative;
    }
}

@media (min-width: 1600px) {
    .add-task-headline {
        font-size: 65px;
    }

    .input-order {
        width: 450px;
    }

    .assigned-to-section {
        width: 450px;
    }

    .choosen-names {
        width: 450px;
    }

    .checked-assigned-to {
        width: 450px;
    }

    .drop-down-section {
        width: 450px;
    }

    .assigned-to-name {
        width: 450px;
    }

    .subtask-section {
        width: 450px;
    }

    .task-detail-section {
        width: 1183px;
        gap: 100px;
    }

    .prio-levels {
        width: 450px;
    }

    .category-section {
        width: 450px;
    }

    .category-drop-down-section {
        width: 450px;
    }

    .created-subtask {
        width: 450px;
    }

    .subtask-edit-point-section {
        width: 450px;
    }

    .field-required-clear-create-button-section {
        width: 1259px;
    }
}
