body {
    background-color: #F6F7F8;
}

.new-section {
    background-color: #F6F7F8;
    height: calc(100vh - 96px)
}

.new-content-section {
    overflow-y: auto;
}

.add-task-headline {
    font-weight: bold;
    font-size: 50px;
}

.add-task-section {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 75px;
}

.input-order {
    display: flex;
    flex-direction: column;
    width: 340px;
}

.input-order input {
    border-radius: 10px;
    padding: 12px 21px;
    font-size: 17px;
    border: 1px solid lightgray;
}

.task-detail-section {
    display: flex;
    width: 761px;
}

.input-order input:focus {
    border: 1px solid #5FC0E9;
    outline: none;
}

.task-details-left {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.description-input {
    height: 120px;
    border-radius: 10px;
    padding: 12px 21px;
    font-size: 17px;
    border: 1px solid lightgray;
    resize: none;
}

.description-input:focus {
    border: 1px solid #5FC0E9;
    outline: none;
}

.assigned-to-section {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.blue-border {
    border: 1px solid #29ABE2 !important; 
}

.assigned-to-section input {
    border: none;
    width: 300px;
    cursor: pointer;
}

.assigned-to-section input::placeholder {
    color: black;
}

.assigned-to-section input:focus {
    border: none;
}

.assigned-to-section input:focus::placeholder {
    color: gray;
}

.dropDown-img {
    display: flex;
    margin-right: 15px;
}

.dropDown-img:hover {
    background-color: lightgray;
    border-radius: 30px;
}

.drop-down-section {
    width: 340px;
    max-height: 165px;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.drop-down-section::-webkit-scrollbar, 
.created-subtask::-webkit-scrollbar {
    display: block; 
    width: 8px; 
}

.drop-down-section::-webkit-scrollbar-thumb, 
.created-subtask::-webkit-scrollbar-thumb {
    background-color: #c1c1c1; 
    border-radius: 4px; 
}

.drop-down-section::-webkit-scrollbar-thumb:hover, 
.created-subtask::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0; 
}

.drop-down-section, 
.created-subtask {
    scrollbar-width: thin; 
    scrollbar-color: #c1c1c1 transparent; 
}

.assigned-to-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 332px;
    padding: 7px 16px;
    cursor: pointer;
    border-radius: 10px;
}

.assigned-to-name:hover {
    background-color: lightgray;
}

.checked-assigned-to {
    background-color: #2A3647 !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 332px;
    padding: 7px 16px;
    cursor: pointer;
    color: white;
    border-radius: 10px;
}

.checked-assigned-to:hover {
    background-color: #091931 !important;
}

.name-section {
    display: flex;
    gap: 15px;
    align-items: center;
}

.name-circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid white;
    color: white; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.red-star {
    color: red;
}

.choosen-names {
    display: flex;
    width: 340px;
    flex-wrap: wrap;
    padding-left: 16px;
    padding-right: 16px;
}

.task-seperator {
    width: 1px;
    height: 450px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: #D1D1D1;
}

.task-details-right {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.prio-section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.prio-levels {
    display: flex;
    width: 340px;
    gap: 8px;
}

.prio-levels img {
    width: 17px;
    height: 12px;
}

.prio-urgent {
    background-color: white;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    cursor: pointer;
}

.prio-urgent-chosen {
    background-color: #FF3D00;
    color: white;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.prio-urgent:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.prio-medium {
    font-weight: 500;
    background-color: white;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    cursor: pointer;
}

.prio-medium:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.prio-medium-chosen {
    color: white;
    font-weight: 500;
    background-color: #FFA800;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.prio-low {
    background-color: white;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    cursor: pointer;
}

.prio-low-chosen {
    background-color: #7AE229;
    color: white;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    padding: 16px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    box-shadow: 0px 0px 4px 0px #0000001A;
    cursor: pointer;
}

.prio-low:hover {
    box-shadow: 0px 4px 4px 0px #00000040;
}

.subtask-section {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.subtask-section input {
    border: none;
    width: 271px;
    cursor: pointer;
}

.subtask-section input:focus {
    border: none;
}

.add-subtask-img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.add-subtask-img img {
    width: 14px;
    height: 14px;
}

.add-subtask-img:hover {
    background-color: lightgray;
    border-radius: 30px;
}

.created-subtask {
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
    height: 80px;
}

.task-bullet-point {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2px;
    border-bottom: transparent 1px solid;
    padding-left: 12px;
    padding-right: 12px;
    height: 30px;
}

.task-bullet-point:hover {
    background-color: lightgray;
}

.edit-trash-section {
    display: flex;
    gap: 8px;
}

.edit-trash-section img {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.seperator-edit-trash {
    width: 1px;
    height: 18px;
    background-color: #A8A8A8;
}

.category-section {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 340px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    height: 48px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 18px;
}

.category-section input {
    border: none;
}

.category-section input:focus {
    border: none;
}

.category-drop-down-section {
    width: 340px;
    height: 90px;
    background-color: white;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px;
}

.category-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 340px;
    padding: 7px 16px;
    cursor: pointer;
}

.category-name:hover {
    background-color: lightgray;
}

.clear-button {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 24px 15px 24px;
    color: #2A3647;
    cursor: pointer;
    width: 110px;
    gap: 5px;
}

.clear-button img {
    width: 24px;
    height: 24px;
}

.clear-button:hover {
    color: #29ABE2;
    border-color: #29ABE2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.create-button {
    width: 160px;
    height: 40px;
    color: white;
    background-color: #2A3647;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    gap: 5px;
}

.create-button img {
    width: 24px;
    height: 24px;
}

.create-button:hover {
    background-color: #29ABE2;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.add-task-button {
    display: flex;
    gap: 10px;
}

.field-required-clear-create-button-section {
    display: flex;
    align-items: center;
    width: 764px;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 75px;
}

.hl-and-red-star {
    margin-bottom: 7px;
}

.d-none {
    display: none;
}

.alert-message {
    color: #FF8190;
    font-size: 16px;
}

.hide-alert-message {
    color: #F6F7F8;
}

.mar-right {
    margin-right: 200px;
    transition: margin 0.5s ease; 
}

.mar-left {
    margin-left: 200px;
    transition: margin 0.5s ease; 
}

.show-subtask-input-icons {
    display: flex;
    align-items: center;
    gap: 2px;
    margin-right: 13px;
}

.subtask-check-container {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subtask-close-container {
    cursor: pointer;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subtask-close-container:hover {
    background-color: lightgray;
    border-radius: 30px;
}

.subtask-check-container:hover {
    background-color: lightgray;
    border-radius: 30px;
}

.subtaskSeparator {
    width: 1px;
    height: 24px;
    background-color: #A8A8A8;
}

.subtask-edit-point-section {
    height: 30px;
    width: 340px;
    background-color: white;
}

.subtask-edit-point {
    display: flex;
    border-bottom: 1px solid #29ABE2;
    align-items: center;
    justify-content: space-between;
}

.subtask-edit-icons {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-right: 15px;
}

div .subtask-input-edit {
    height: 30px !important;
    outline: none;
    border: none;
}

.edit-trash-icon {
    cursor: pointer;
}

.edit-check-icon {
    cursor: pointer;
}

.custom-checkbox {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 24px;
	height: 24px;
	overflow: hidden;
	border: none;
	padding: 0; 
	margin: 0; 
	display: inline-flex;
	align-items: center;
	justify-content: center;
    border: none !important;
}

.custom-checkbox::after {
	content: url('../../assets/img/checkboxEmpty.svg');
	width: 24px; 
	height: 24px; 
	display: inline-block;
}

.custom-checkbox:checked::after {
	content: url('../../assets/img/checkboxCheckedWhite.svg');
	width: 24px; 
	height: 24px; 
	display: inline-block;
}

.success-sign-up-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2000;
}

.success-icon-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 312px;
    height: 74px;
    background-color: #2A3647;
    border-radius: 20px;
    color: white;
    position: absolute;
    bottom: 50%; 
    font-weight: 700;
    transform: translateY(100vh); 
    animation: slideIn 1.25s ease-out forwards; 
    gap: 10px;
}

@keyframes slideIn {
    from {
        transform: translateY(100vh); 
    }
    to {
        transform: translateY(0); 
    }
}

