@media (min-width: 200px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
  }

  footer {
    position: absolute;
    height: 100px;
    bottom: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .privacy-span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  .legal-span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }

  .Log-In-Section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Log-In-Field {
    width: 290px;
    min-height: 420px;
    padding-bottom: 15px;
  }

  .email-password-alert-section {
    width: 222px;
  }

  .email-password-fields {
    width: 222px;
    height: 30px;
  }

  .email-password-fields img {
    width: 20px;
    height: 20px;
  }

  .Log-In-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 222px;
    margin-top: 30px;
    padding-bottom: 0px;
  }

  .input-email-password {
    height: 23px;
    padding: 12px 21px 12px 10px;
    outline: none;
    border: none;
    width: 180px;
    border-radius: 10px;
  }

  .Log-In-Headline {
    font-size: 47px;
    font-weight: 700;
    text-align: center;
    margin-top: 0px;
    color: #2a3647;
    width: 173px;
    margin-top: 10px;
  }

  .underline-headline {
    width: 88px;
    margin-top: 10px;
  }

  .join-logo {
    width: 80px;
    height: auto;
    position: absolute;
    top: 35px;
    left: 38px;
  }

  .remember-me-section {
    width: 215px;
    font-size: 14px;
  }

  .Log-In-Button {
    width: 110px;
    height: 30px;
    font-size: 16px;
    margin-top: 15px;
  }

  .link-to-log-in {
    top: 28px;
    left: 15px;
    height: 32px;
    width: 32px;
  }

  .link-to-log-in a {
    height: 26px;
    width: 26px;
  }

  .back-arrow {
    width: 26px;
    height: 26px;
  }
}

@media (min-width: 800px) {

  .Log-In-Field {
    width: 500px;
    min-height: 550px;
    padding-bottom: 50px;
  }

  .email-password-alert-section {
    width: 422px;
  }

  .email-password-fields {
    width: 422px;
    height: 48px;
  }

  .email-password-fields img {
    height: 24px;
    width: 24px;
  }

  .Log-In-Form {
    width: 422px;
    gap: 20px;
  }

  .remember-me-section-parent {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .remember-me-section {
    width: 450px;
    font-size: 16px;
  }

  .Log-In-Button {
    width: 110px;
    height: 48px;
    font-size: 21px;
    margin-top: 0px;
  }

  .Log-In-Headline {
    width: 315px;
    font-size: 61px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    color: #2a3647;
  }

  .underline-headline {
    height: 2px;
    width: 130px;
    background-color: #29abe2;
  }

  .input-email-password {
    height: 23px;
    padding: 12px 21px 12px 21px;
    outline: none;
    border: none;
    width: 180px;
    border-radius: 10px;
  }

  .link-to-log-in {
    top: 65px;
    left: 45px;
    height: 32px;
    width: 32px;
  }

  .link-to-log-in a {
    height: 32px;
    width: 32px;
  }

  .back-arrow {
    width: auto;
    height: auto;
  }

  footer {
    height: 50px;
  }
}

@media (min-width: 1100px) {
  .join-logo {
    top: 80px;
    left: 77px;
    width: auto;
    height: auto;
  }

  .Log-In-Field {
    width: 590px;
    min-height: 550px;
    padding-bottom: 50px;
  }

  .email-password-alert-section {
    width: 422px;
  }

  .email-password-fields {
    width: 422px;
    height: 48px;
  }

  .email-password-fields img {
    height: 24px;
    width: 24px;
  }

  .Log-In-Form {
    width: 422px;
    gap: 20px;
  }

  .remember-me-section-parent {
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .remember-me-section {
    width: 450px;
    font-size: 16px;
  }

  .Log-In-Button {
    width: 110px;
    height: 48px;
    font-size: 21px;
    margin-top: 0px;
  }

  .Log-In-Headline {
    width: 315px;
    font-size: 61px;
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    color: #2a3647;
  }

  .underline-headline {
    height: 2px;
    width: 130px;
    background-color: #29abe2;
  }

  .input-email-password {
    height: 23px;
    padding: 12px 21px 12px 21px;
    outline: none;
    border: none;
    width: 180px;
    border-radius: 10px;
  }

  .link-to-log-in {
    top: 65px;
    left: 45px;
    height: 32px;
    width: 32px;
  }

  .link-to-log-in a {
    height: 32px;
    width: 32px;
  }

  .back-arrow {
    width: auto;
    height: auto;
  }

  footer {
    height: 50px;
  }
}
