@media (min-width: 200px) {
    html, body {
        margin: 0;
        padding: 0;
    }

    .show-contact {
        display: none;
        height: calc(100vh - 96px); 
        position: relative;
    }

    .contact-section {
        width: 100%;  
        height: calc(100vh - 96px); 
        overflow-y: auto; 
        padding: 0px;
    }

    .contact {
        gap: 15px; 
        padding: 10px 15px; 
    }

    .name-circle {
        width: 35px; 
        height: 35px;
        border: 2px solid white;
        font-size: 16px;
    }

    .input-group img {
        position: absolute;
        right: 40px;
        margin: 0;
    }

    .name-and-email {
        font-size: 16px; 
    }

    .add-new-contact-button {
        width: 90%; 
        height: 45px; 
        font-size: 16px; 
    }

    .complete-right-section {
        display: flex;
        flex-direction: column;
        gap: 0px;
        margin-top: 0px;
        margin-left: 0px;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 0px;
    }

    .headline-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
        position: relative;
        height: 100px;
        gap: 5px;
    }

    .headline-seperator {
        height: 3px;
        width: 80px;
        position: absolute;
        top: 100px;
    }

    .headline-section h1 {
        font-size: 47px;
    }

    .headline-span {
        font-size: 20px;
    }

    .big-name-circle {
        width: 80px;
        height: 80px;
        font-size: 30px;
        aspect-ratio: 1 / 1;
    }

    .edit-and-delete-section {
        display: none;
    }

    .big-name-span {
        font-size: 36px;
        word-break: break-word;
    }

    .contact-details {
        gap: 0px;
        padding-top: 40px;
    }

    .big-name-circle-and-name {
        gap: 30px;
    }

    .menu-section-mobile {
        right: 16px;
        top: 425px;
    }

    .add-new-contact-button-section {
        display: none;
    }

    .closed-menu-mobile {
        width: 6px;
        height: 22px;
    }

    .back-arrow-section {
        position: absolute;
        top: 40px;
        right: 10px;
        cursor: pointer;
    }

    .add-contact-mobile {
        position: fixed;
        background-color: #091931;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 10px;
        bottom: 80px;
    }

    .person-add-img {
        width: 25px;
        height: 25px;
    }

    .add-contact-container {
        width: 295px;
        height: 550px;
        flex-direction: column;
    }

    .left-section {
        width: auto;
        padding: 30px;
        height: 40%;
    }

    .left-section h1 {
        font-size: 39px;
    }

    .right-section {
        width: auto;
        padding: 30px;
        margin-top: 40px;
    }

    .left-section p {
        font-size: 17px;
    }

    .add-contact-blue-seperator {
        width: 70px;
        margin-top: 10px;
    }

    .left-section img {
        display: none;
    }

    .profile-placeholder-section {
        width: auto;
        position: absolute;
        right: 100px;
        bottom: 285px;
    }

    .close-button {
        display: none;
    }

    .add-contact-input-section {
        gap: 0px;
    }

    .input-group {
        width: auto;
    }

    .input-group input {
        width: 195px;
        padding-left: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .cancel-button {
        display: none;
    }

    .buttons {
        justify-content: center;
    }

    .create-button {
        height: 35px;
    }

    .profile-placeholder {
        width: 90px;
        height: 90px;
        margin-bottom: 0px;
    }

    .close-button-mobile {
        position: absolute;
        top: -235px;
        right: 25px;
        cursor: pointer;
    }

    .edit-contact-container {
        width: 295px;
        height: 550px;
        flex-direction: column;
    }

    .menu-mobile a {
        font-size: 16px;
        width: auto;
        color: #2A3647;
    }

    .menu-mobile-container {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
    }

    .seperator-edid-delete {
        height: 2px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .delete-button {
        display: flex !important;
        width: 80px;
        height: 40px;
    }

    .save-button {
        width: 80px;
        height: 40px;
    }

    .close-button-mobile-edit {
        position: absolute;
        top: 20px;
        right: 25px;
        cursor: pointer;
    }

    .name-and-edit-and-delete-section {
        width: auto;
    }

    .spacer-and-contact-section {
        width: 100%;
        overflow-y: auto; 
        height: calc(100vh - 150px);
    }

    .add-contact-and-contact-list-section {
        padding: 20px 10px;
    }

}

@media (max-width: 370px) {
    .big-name-span {
        font-size: 28px;
    }
}

@media (min-width: 600px) {
    .add-new-contact-button-section {
        display: flex;
    }

    .spacer-and-contact-section {
        height: calc(100vh - 255px);
    }

    .add-contact-container {
        width: 450px;
        height: 680px;
    }

    .left-section h1 {
        font-size: 50px;
    }

    .left-section p {
        font-size: 19px;
    }

    .add-contact-blue-seperator {
        width: 90px;
    }

    .close-button-mobile {
        top: -270px;
        right: 30px;
    }

    .right-section form {
        padding-top: 60px;
    }

    .input-group input {
        width: 340px;
    }

    .create-button {
        height: 55px;
    }

    .buttons {
        margin-top: 40px;
    }

    .profile-placeholder {
        width: 110px;
        height: 110px;
    }

    .profile-placeholder-section {
        right: 167px;
        bottom: 377px;
    }

    .complete-right-section {
        padding-left: 30px;
    }

    .headline-section h1 {
        font-size: 53px;
    }

    .headline-span {
        font-size: 23px;
    }

    .big-name-circle {
        width: 120px;
        height: 120px;
        font-size: 44px;
    }

    .big-name-span {
        font-size: 44px;
    }

    .change-column-menu-mobile {
        display: none;
    }

    .edit-and-delete-section {
        display: flex;
    }

    .edit-contact-container {
        width: 450px;
        height: 765px;
    }

    .delete-button {
        width: 100px;
        height: 55px;
    }

    .save-button {
        width: 100px;
        height: 55px;
    }

    .add-contact-mobile {
        display: none;
    }

    .headline-seperator {
        top: 110px;
    }
}

@media (min-width: 1200px) {
    .contact-section {
        width: 450px;
        background-color: white;
        z-index: 1;
        position: relative;
        box-shadow: 4px 0px 6px 0px #00000014;
        height: calc(100vh - 96px);
        overflow-y: auto;
        overflow-x: hidden;
        flex-shrink: 0;
        scrollbar-width: thin;
        scrollbar-color: #cccccc #f1f1f1;
    }

    .add-new-contact-button {
        margin-top: 30px;
        width: 330px;
        height: 55px;
        color: white;
        background-color: #2A3647;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        gap: 16px;
    }

    .input-group img {
        right: 60px;
    }

    .add-contact-and-contact-list-section {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 32px 24px;
        align-items: center;
        position: relative;
    }

    .spacer-and-contact-section {
        width: auto;
        overflow-y: unset;
        height: auto;
    }

    .contact {
        display: flex;
        align-items: center;
        padding: 15px 24px;
        gap: 35px;
        border-radius: 10px;
        transition: background-color 0.3sease;
        cursor: pointer;
    }

    .name-circle {
        width: 42px;
        height: 42px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 3px solid white;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    }

    .show-contact {
        flex-grow: 1;
        height: auto;
        position: unset;
        display: flex;
    }

    .complete-right-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 90px;
        margin-left: 50px;
        padding-left: 0;
        padding-top: 0;
    }

    .headline-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 30px;
        height: auto;
    }

    .headline-seperator {
        height: 55px;
        width: 3px;
        position: unset;
    }

    .contact-details {
        padding-top: 0;
        gap: 20px;
    }

    .big-name-circle-and-name {
        gap: 50px;
    }

    .back-arrow-section {
        display: none;
    }

    .add-contact-container {
        flex-direction: row;
        width: 950px;
        height: 600px;
    }

    .left-section {
        background-color: #2a3647;
        color: white;
        padding: 40px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        height: auto;
    }

    .left-section img {
        display: flex;
    }

    .left-section p {
        font-size: 22px;
        font-weight: 400;
    }

    .add-contact-blue-seperator {
        height: 3px;
        width: 90px;
        background-color: #29ABE2;
        margin-top: 20px;
    }

    .right-section {
        padding: 40px;
        width: 60%;
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 0;
    }

    .profile-placeholder-section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: unset;
    }

    .profile-placeholder {
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #e0e0e0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        border: 3px solid #FFFFFF;
    }

    .add-contact-input-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        gap: 32px;
        padding-top: 90px;
    }

    .right-section form {
        padding-top: 0px;
    }

    .input-group {
      width: 300px;
    }

    .input-group input {
        width: 250px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        padding-left: 21px;
        padding-top: 13px;
        padding-bottom: 13px;
    }

    .cancel-button {
        display: flex;
    }

    .buttons {
        justify-content: flex-start;
        margin-top: 20px;
    }

    .close-button-mobile {
        display: none;
    }

    .close-button {
        display: flex;
    }

    .edit-contact-container {
        flex-direction: row;
        width: 950px;
        height: 600px;
    }

    .delete-button {
        display: none !important;
    }

    .close-button-mobile-edit {
        display: none;
    }
}

@media (min-width: 1600px) {
    .headline-section h1 {
        font-size: 61px;
    }

    .headline-span {
        font-size: 27px;
    }

    .complete-right-section {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-top: 90px;
        margin-left: 90px;
        padding-left: 0;
        padding-top: 0;
    }
}