.legal-section {
    padding: 50px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    text-align: left;
    margin-left: 0; 
}

p {
    max-width: 1000px; 
    width: 100%;
    text-align: left;
}

.section-heading h1 {
    font-size: 61px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    color: #000;
    margin-top: 20px;
    text-align: left;
}

h3 {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    text-align: left;
}

.accentuated {
    color: #3AABE2;
    text-decoration: none;
    font-weight: bold;
}

.accentuated:hover {
    text-decoration: underline;
}

ul {
    padding-left: 24px;
    margin-bottom: 15px;
    text-align: left;
}

ul li {
    margin-bottom: 8px;
}