.add_task_text {
  margin-top: 64px;
  margin-left: 96px;
  margin-bottom: 0;
  font-size: 61px;
}

.vertical_line {
  height: 424px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.content_add_task {
  margin-top: 40px;
  padding: 0 96px;
  display: flex;
  width: 100%;
  gap: 30px;
  font-size: 20px;
}

.addTask_main_container {
  padding-bottom: 64px;
}

.content_add_task input {
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  padding: 12px 21px;
  font-size: 20px;
}

.content_add_task input::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.content_add_task input:focus {
  border-color: rgb(41, 171, 226);
  outline: none;
}

.content_title {
  width: 100%;
  max-width: 440px;
}

.content_priority {
  width: 100%;
  max-width: 440px;
}

.title_input {
  height: 48px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
}

.description_input {
  margin-top: 10px;
}

.description_input textarea {
  border-radius: 10px;
  border: 1px solid rgb(209, 209, 209);
  padding: 12px 21px;
  font-size: 20px;
  resize: none;
  height: 120px;
  width: 100%;
  margin-bottom: 30px;
}

.description_input textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.description_input textarea:focus {
  border-color: rgb(41, 171, 226);
  outline: none;
}

.due_date_input {
  width: 100%;
  height: 48px;
  margin-top: 10px;
}

.due_date_container {
  position: relative;
  margin-bottom: 157px;
}

.date_icon {
  position: absolute;
  right: 21px;
  bottom: 15px;
  cursor: pointer;
}

.priority_options {
  width: 100%;
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.priority_level:hover {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.priority_level {
  max-width: 136px;
  height: 56px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  flex: 1;
}

.urgent_color {
  color: #ff3d00;
}

.medium_color {
  color: rgb(255, 168, 0);
}

.low_color {
  color: #7ae229;
}

.style_priority_section_button {
  height: 48px;
  width: 100%;
  padding: 12px 21px;
  margin-top: 10px;
  margin-bottom: 30px;
  background-color: white;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 10px;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.style_priority_section_button:hover {
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.subtask_input {
  height: 48px;
  width: 100%;
  margin-top: 10px;
}

.arrow_down {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.arrow_down:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.subtask_input_container {
  position: relative;
  margin-bottom: 81px;
}

.plus_icon_container {
  position: absolute;
  right: 21px;
  bottom: 14px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plus_icon_container:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.create_task_container {
  display: flex;
  justify-content: end;
  gap: 16px;
}

.create_task_container button {
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.create_task_container button img {
  margin-left: 4px;
}

.create_task {
  width: 183px;
  height: 56px;
  color: white;
  background-color: rgb(42, 54, 71);
  border: none;
}

.create_task:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}

.clear_task {
  width: 110px;
  height: 56px;
  background-color: white;
  border: 1px solid rgba(42, 54, 71, 1);
}

.clear_task:hover {
  border: 2px solid rgb(41, 171, 226);
  color: rgb(41, 171, 226);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
}
