.page_header {
  max-width: 1920px;
  height: 96px;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding-left: 96px;
  padding-right: 32px;
}

.logged_in_user {
  display: flex;
  align-items: center;
  gap: 16px;
}

.letters_in_circle {
  position: relative;
  cursor: pointer;
  width: 56px;
  height: 56px;
}

.letters_in_circle:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}

.letters_in_circle span {
  position: absolute;
  left: 20%;
  top: 30%;
  font-weight: bold;
  color: rgb(41, 171, 226);
}

.help_button {
  cursor: pointer;
}
