* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

html {
  display: flex;
  justify-content: center;
}

body {
  background-color: #f4f4f4;
  width: 100%;
  max-width: 1920px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.logo_signUp {
  display: flex;
  justify-content: space-between;
  padding: 34px 39px 0 39px;
  width: 100%;
}

.login_field {
  width: 652px;
  height: 449px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 115px;
  gap: 32px;
}

.login_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.login_text h1 {
  font-size: 61px;
  font-weight: 700;
}

.blue_line {
  border: 3px solid rgb(41, 171, 226);
  width: 150px;
  border-radius: 10px;
}

.sign_up_container {
  display: flex;
  align-items: center;
  gap: 35px;
  height: 49px;
}

.sign_up_container button {
  width: 91px;
  height: 49px;
  border-radius: 10px;
  background-color: rgb(42, 54, 71);
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: none;
  cursor: pointer;
}

.sign_up_container button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

.sign_up_container span {
  font-size: 20px;
  font-weight: 400;
}

.input_field {
  display: flex;
  position: relative;
}

.mail {
  position: absolute;
  right: 21px;
  top: 16px;
}

.lock {
  position: absolute;
  right: 21px;
  top: 12px;
}

.input_field input {
  width: 422px;
  height: 48px;
  border-radius: 10px;
  border: 1px solid rgba(209, 209, 209, 1);
  padding: 12px 21px;
  font-size: 20px;
}

.input_field input:focus {
  outline: none;
  border: 2px solid rgb(41, 171, 226);
}

.input_field input::placeholder {
  color: rgba(209, 209, 209, 1);
}

.button_container_login {
  display: flex;
  gap: 35px;
}

.button_container_login button {
  cursor: pointer;
}

.login_button {
  width: 110px;
  height: 48px;
  background-color: rgba(42, 54, 71, 1);
  border: none;
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
  color: white;
}

.login_button:hover {
  background-color: rgb(41, 171, 226);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

.guest_button {
  width: 177px;
  height: 48px;
  background-color: white;
  border: 1px solid rgba(42, 54, 71, 1);
  border-radius: 8px;
  font-size: 21px;
  font-weight: 700;
  color: rgba(42, 54, 71, 1);
}

.guest_button:hover {
  border: 2px solid rgb(41, 171, 226);
  color: rgb(41, 171, 226);
  box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.2);
}

.policy_container {
  display: flex;
  padding-bottom: 39px;
  gap: 20px;
}

.policy_container a {
  text-decoration: none;
  color: rgba(168, 168, 168, 1);
  font-size: 16px;
  font-weight: 400;
}

.policy_container a:hover {
  color: rgb(41, 171, 226);
  transform: scale(1.1);
}
