.sidebar {
  position: relative;
  min-width: 232px;
}

.sidebar_container {
  min-width: 232px;
  height: 100vh;
  padding: 64px 0;
  background-color: rgb(42, 54, 71);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logo-nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 100%;
  margin-top: 85px;
  gap: 25px;
  color: rgba(205, 205, 205, 1);
}

.legal-links {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
  width: 100%;
  height: 46px;
  gap: 10px;
}

.legal-section-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.legal-links a {
  text-decoration: none;
  color: rgb(168, 168, 168);
}

.nav-bar a {
  text-decoration: none;
  color: rgba(205, 205, 205, 1);
}

.nav-link:hover {
  background-color: rgba(87, 126, 255, 0.1);
}

.active {
  background-color: rgb(9, 25, 49) !important;
  color: white !important;
}

.active img {
  filter: brightness(1.5) contrast(1.2);
}

.legal-links a:hover {
  color: rgb(41, 171, 226);
  transform: scale(1.1);
}
